name: Sync Folders to Server

on:
  workflow_call:
    inputs:
      host:
        required: true
        type: string
      username:
        required: true
        type: string
      folder:
        required: true
        type: string
      paths:
        required: false
        type: string
        default: |
          [
            {"from": "languages", "to": "/languages/"},
            {"from": "mu-plugins", "to": "/mu-plugins/"},
            {"from": "plugins", "to": "/plugins/"},
            {"from": "themes", "to": "/themes/"}
          ]
        description: "JSON array of {from: '', to: '', exclude: ''} objects"
    secrets:
      ssh-key:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sync_pair: ${{ fromJson(inputs.paths) }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.ssh-key }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa ${{ inputs.host }} > ~/.ssh/known_hosts

      - name: Sync ${{ matrix.sync_pair.from }}
        run: |
          if [ ! -d "./${{ matrix.sync_pair.from }}" ]; then
            exit 0
          fi

          EXCLUDE_ARGS=""
          if [ -n "${{ matrix.sync_pair.exclude }}" ]; then
            for item in ${{ matrix.sync_pair.exclude }}; do
              EXCLUDE_ARGS="$EXCLUDE_ARGS --exclude=$item"
            done
          fi

          CLEAN_FOLDER=$(echo "${{ inputs.folder }}" | sed 's:/*$::')

          rsync -rvz $EXCLUDE_ARGS -e "ssh -i ~/.ssh/id_rsa" \
              "./${{ matrix.sync_pair.from }}/" \
              ${{ inputs.username }}@${{ inputs.host }}:"$CLEAN_FOLDER${{ matrix.sync_pair.to }}"